<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <link rel='stylesheet' id='wp-block-library-css'  href='https://api-blog.palmomedia.de/wp-includes/css/dist/block-library/style.min.css?ver=5.3.2' media='all' />
    <title>[ palmomedia | homepage ]</title>

    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="palmomedia" />
    <meta property="og:url" content="https://www.palmomedia.de" />
    <meta property="og:title" content="palmomedia | homepage" />
    <meta property="og:description" content="palmomedia - a DevOps Company | wir machen es möglich - Full-Service Webentwickung ohne Wenn und Aber!" />
        
  </head>
  <body>
    <noscript>
      <strong>We're sorry but our PAGE doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
