<template>
  <div class="home content-wrapper">
    Diese Seite ist bei uns nicht vorhanden!<br />
    Vielleicht suchst Du nach was anderem oder Du hast dich verlaufen?<br />
    <br />
    <img src="http://wildeligaulm.de/wp-content/uploads/2017/10/404-Team-Not-Found-575x550.png" height="300" />
    <br /><br />
  </div>
</template>