<template>
  <div id="app">
    <Navbar></Navbar>
    <div class="content">
      <keep-alive :max="1">
        <Breadcrumb></Breadcrumb>
      </keep-alive>
      <vue-page-transition name="fade-in-left">
        <keep-alive exclude="Page,BlogPost">
          <router-view></router-view>
        </keep-alive>
      </vue-page-transition>
    </div>
    <Footer></Footer>
  </div>
</template>

<script>
  import Navbar from './Navbar.vue';  
  import Breadcrumb from './Breadcrumb.vue';  
  import Footer from './Footer.vue'; 

  export default {
    components: {
      Navbar,
      Breadcrumb,
      Footer
    }
  }
</script>