<template>
  <div class="content-wrapper">
    <h1>Blog</h1>    
    <div v-show="isLoad" >
      <hr>
      <div v-for="post in posts" :key="post.post_title">      
        <router-link :to="`/blog/${post.post_name}`" style="text-decoration:none;">
            <h2><span class="badge badge-warning">{{ post.post_excerpt }}</span> {{ post.post_title }}</h2>            
        </router-link>
        <p>
        
        <a style="padding-right:10px;" class="removeExternalLink" :href="`https://twitter.com/intent/tweet?text=%23jamstack %23devops %23webdev Schaut euch diesen Artikel an: &url=https://palmomedia.de/blog/${post.post_name}&`"
          target="_blank">
              <font-awesome-icon :icon="['fab', 'twitter']" />
        </a>

        <a style="padding-right:10px;" class="removeExternalLink" :href="`https://www.facebook.com/sharer/sharer.php?u=https://palmomedia.de/blog/${post.post_name}`"
          target="_blank">
          <font-awesome-icon :icon="['fab', 'facebook']" />
        </a>

        <a class="removeExternalLink" :href="`https://www.xing.com/spi/shares/new?url=https://palmomedia.de/blog/${post.post_name}`"
          target="_blank">
          <font-awesome-icon :icon="['fab', 'xing']" />
        </a>
        </p>
        
        <hr>
      </div>

      <img src="https://www.michaelpalmer.de/images/work_2.jpg" height="250" alt="Papers" class="shadow p-3 mb-5 bg-white rounded" style="float:right;">
      <div style="clear: right" />    
    </div>

    <div v-show="!isLoad" style="text-align:center;">
      <img src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg" height="100">
    </div>

  </div>
</template>

<script>
  import axios from 'axios';
  import { API_LOCATION } from '../config'

  export default {
    name: 'Blog',
    data() {      
      this.isLoad = false;
      return {
        posts: []
      }
    },
    methods: {
      getPosts() {
        /*fetch('https://api-blog.palmomedia.de/wp-json/content/v1/post')
            .then((r) => r.json())
            .then((res) => this.posts = res.map(x => x));
        */
        axios.get(API_LOCATION + "/post").then(response => {
            this.posts = response.data;
            document.title = "BLOG | palmomedia ";
            this.isLoad = true;
        });
      }
    },
    created() {
      this.getPosts();
    },  
    watch: {
      $route(to, from) {
        // react to route changes...
        if(to != from) {
          this.getPosts();
        }
      }
    }
  }
</script>