<template>
  <div class="content-wrapper">
    
      <div v-show="isLoad" >
        <h1 data-aos="fade-right">{{ pageContent.post_title }}</h1>
        <p>
          <small>Teilen: </small>
          <a style="padding-left: 10px; padding-right:10px;" class="removeExternalLink" :href="`https://twitter.com/intent/tweet?text=%23jamstack %23devops %23webdev Schaut euch diesen Artikel '${ pageContent.post_title }' an: &url=https://palmomedia.de/blog/${pageContent.post_name}&`"
            target="_blank">
                <font-awesome-icon :icon="['fab', 'twitter']" />
          </a>

          <a style="padding-right:10px;" class="removeExternalLink" :href="`https://www.facebook.com/sharer/sharer.php?u=https://palmomedia.de/blog/${pageContent.post_name}`"
            target="_blank">
            <font-awesome-icon :icon="['fab', 'facebook']" />
          </a>

          <a style="padding-right:10px;" class="removeExternalLink" :href="`https://www.xing.com/spi/shares/new?url=https://palmomedia.de/blog/${pageContent.post_name}`"
            target="_blank">
            <font-awesome-icon :icon="['fab', 'xing']" />
          </a>

          <a style="padding-right:10px;" class="removeExternalLink" :href="`whatsapp://send?text=schau dir den Artikel '${ pageContent.post_title }' mal an: https://palmomedia.de/blog/${pageContent.post_name}`"
            target="_blank">
            <font-awesome-icon :icon="['fab', 'whatsapp']" />
          </a>

          <a style="padding-right:10px;" class="removeExternalLink" :href="`mailto:?subject=${ pageContent.post_title }&body=Hallo, schau dir mal den Artikel '${pageContent.post_title}' an: https://palmomedia.de/blog/${pageContent.post_name}`"
            target="_blank">
            <font-awesome-icon :icon="['fas', 'envelope']" />
          </a>

        </p>
        
        <div v-html="pageContent.post_content"></div>
 
        <div class="d-flex flex-row-reverse" data-aos="fade-left">
        <div class="p2e">
              <div class="profile-header-container">   
              <div class="profile-header-img">
                      <img class="img-circle" :src="pageContent.author_image" />
                      <div class="rank-label-container">
                          <span class="label label-default rank-label">{{ pageContent.display_name }}</span>
                      </div>
                  </div>
              </div> 
        </div>
      </div>

        <hr>
             
        <router-link to="/blog/">
            <font-awesome-icon :icon="['fas', 'backward']" style="padding-right:4px;" /> einmal zur&uuml;ck zu den Posts bitte...
        </router-link>
        
      </div>
      
      <div v-show="!isLoad" style="text-align:center;">
        <img src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg" height="100">
      </div>
    
  </div>
</template>

<script>
  import axios from 'axios';
  import { API_LOCATION } from '../config'

  export default {
    name: 'BlogPost',
    data() {      
      this.isLoad = false;
      return {
        pageContent: ['post_content']
      }
    },
    created() {
      this.loadPage()
    },
    methods: {
      loadPage() {
        this.isLoad = false;
        var path = this.$router.currentRoute.fullPath;
        path = path.split('/');
        path = "/" + path[2];
        
          axios.get(API_LOCATION + "/post"
            +path, {
            }).then(response => {
            this.pageContent = response.data;
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<p\s/g, '<p data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<p>/g, '<p data-aos="fade-right">');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<div/g, '<div data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h1/g, '<h1 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h2/g, '<h2 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h3/g, '<h3 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h4/g, '<h4 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<img/g, '<img data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<pre\s/g, '<pre data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<pre>/g, '<pre data-aos="fade-right">');
            if(!this.pageContent['post_content']) {
              window.location.href = "/404";
            }
            if(this.pageContent['post_title']) {
                document.title = this.pageContent['post_title'] + " | palmomedia ";
            }
            this.isLoad = true
          
        });
      },
      loaded() {
        this.isLoad = true
      }
    }, 
    watch: {
      $route(to, from) {
        // react to route changes...
        if(to != from) {
          this.loadPage();
        }
      }
    }
  }
</script>