<template>
  <b-breadcrumb class="arr-bread">
    <b-breadcrumb-item href="/">
      <b-icon icon="house-fill" scale="1.25" shift-v="1.25" aria-hidden="true"></b-icon>
      home
    </b-breadcrumb-item>
    <b-breadcrumb-item v-for="bread in spath" :key="bread.key" :href="bread.href">{{ bread.key }}</b-breadcrumb-item>
  </b-breadcrumb>
</template>

<script>
  export default {
    name: "Breadcrumb",
    data() {
        return {
          spath: {}
        }
    },
    created() {
      this.createBread();
    },
    methods: {
      createBread() {
        this.spath = {};
        var pathArray = window.location.pathname.split('/');
        var pathAr = [];
        var href = "";
        pathArray.forEach(runme);
        function runme(elem) {
            if(elem) {
                var text = elem.toLowerCase().replace(/-/g, " ");
                if(href != "/"+elem)
                    href += "/"+elem;
                    pathAr.push({
                        'key' : text,
                        'href' : href 
                    }
                );
            }
        }
        Object.assign(this.spath, pathAr);
      } 
    },
    watch: {
      $route(to, from) {
        if(to != from) {
          this.createBread();
        }
      }
    }
  }
</script>