<template>
    <div class="footer"><!-- fixed-bottom-->
        <div class="footer-custom1">
            <b-container>
                <!-- Footer -->
                <footer class="page-footer font-small blue pt-4">
                    <div class="container-fluid text-md-left">
                        <div class="row">
                            <div class="col-md-6 mt-md-0 mt-3" data-aos="zoom-out">
                                <!-- Content -->
                                <h5 class="">palmomedia<br />a DevOps Company</h5>
                                <p><small>Wir verstehen uns als M&ouml;glichmacher im Full-Service Segment. <br />
                                Egal ob <b>legacy Software</b> oder Grünewiese, wir bauen Ihnen Ihre <b>Webapplikation</b> und helfen beim <b>Hosten</b>.</small></p>
                            </div>
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <div class="col-md-3 mb-md-0 mb-3" data-aos="flip-up">
                            <h5 class="text-uppercase">Pflicht</h5>

                            <ul class="list-unstyled">
                            <li>
                                <router-link to="/impressum/">
                                    Impressum und Kontakt
                                </router-link>
                            </li>
                            <li>
                                <router-link to="/datenschutzerklaerung/">
                                    Datenschutzerkl&auml;rung
                                </router-link>
                            </li>
                            </ul>
                        </div>
                            <div class="col-md-3 mb-md-0 mb-3" data-aos="flip-up">

                                <!-- Links -->
                                <h5 class="text-uppercase">K&uuml;r</h5>

                                <ul class="list-unstyled">
                                <li>
                                    <router-link to="/sitemap">
                                        Sitemap
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/uber-palmomedia">
                                        &Uuml;ber palmomedia
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/blog">
                                        Blog
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/service">
                                        Unser Service
                                    </router-link>
                                </li>
                                <li>
                                    <a href="https://gitlab.com/palmomedia/version-vuejs" target="_blank">GitLab</a>
                                </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Grid row -->
                    </div>
                    <cookie-law theme="base" buttonText="Kein Problem!">    
                    <div slot="message">
                        Wir verarbeiten Informationen über Ihren Besuch unter Einsatz von 🍪 Cookies, um die Leistung der Website zu verbessern und das Teilen von Informationen in sozialen Netzwerken zu erleichtern. Durch die weitere Nutzung unserer Seite willigen Sie in die Nutzung dieser Cookies ein. Weitere Informationen hierzu finden Sie in unserer <a href="/datenschutzerklaerung" title="Datenschutzerklärung">Datenschutzerklärung</a>.
                    </div>
                    </cookie-law>
                </footer>
            </b-container>
            <div class="footer-custom2">
                <b-container>
                    <!-- Copyright -->
                    <div class="footer-copyright py-3 text-center">
                        <small>
                            &copy; 2020 palmomedia
                            <br />made with <img src="https://images.opencollective.com/vuejs/25a8146/logo/256.png" height="30" alt="vuejs" style="margin:-5px;"> and <font-awesome-icon icon="heartbeat" /> in Berlin<br />
                            <a href="https://validator.w3.org/nu/?doc=http%3A%2F%2Fvuejs.palmomedia.de%2F" target="_blank" title="html5 conform" class="footerlink">HTML</a> <font-awesome-icon :icon="['fab', 'html5']" /> -
                            <font-awesome-icon :icon="['fab', 'google']" /> <a href="https://developers.google.com/speed/pagespeed/insights/?hl=de&url=https%3A%2F%2Fvuejs.palmomedia.de" target="_blank" title="Google PageSpeed" class="footerlink">Insights</a>  
                        </small>    
                        <img src="@/assets/palmomedia_icon_2020.png" alt="palmomedia" height="25" style="right:15px;position:fixed;bottom:15px;" />
                    </div>
                    <!-- Copyright -->
                </b-container>
            </div>
        </div>
    </div>
</template>

<script>
  import CookieLaw from 'vue-cookie-law'
  export default {
    name: "footernav",
    components: { CookieLaw }
  }
</script>