<template>
    <b-navbar class="navbar navbar-expand-lg bg-light fixed-top bg-faded navbar-custom" 
      id="nav" toggleable="lg" type="light" variant="success">
      <b-container>
        <b-navbar-brand href="/">        
          <router-link to="/">
            <img src="https://www.michaelpalmer.de/images/palmomedia_logo_2020_v2.png" alt="palmomedia" height="60" class="brand">
            <img src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/307/square_256/EGH_VueSocket.png" height="50" alt="vuejs" /> 
          </router-link>     
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse" ></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>

          <b-navbar-nav v-show="isLoad" v-for="item in pages" v-bind:key="item.id">
            <b-nav-item>
              <router-link :to="item.url">
                  {{ item.post_title }}
              </router-link>
            </b-nav-item>
          </b-navbar-nav>
          
          <div v-show="!isLoad" >
            <img src="@/assets/loading.gif">
          </div>
          
          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown dropleft right>
              <template v-slot:button-content>
                <font-awesome-icon icon="globe-europe" />
              </template>
              <b-dropdown-item href="https://gitlab.com/palmomedia/version-vuejs" target="_blank">GitLab/vuejs</b-dropdown-item>
              <b-dropdown-item href="https://michaelpalmer.de" target="_blank">michaelpalmer.de</b-dropdown-item>
              <b-dropdown-item href="/impressum">Impressum</b-dropdown-item>
              <b-dropdown-item href="/datenschutzerklaerung">Datenschutzbestimmungen</b-dropdown-item>
              <b-dropdown-item href="https://api-blog.palmomedia.de/wp-admin" target="_blank">WP Admin</b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
  </b-navbar>
</template>

<script>
import axios from 'axios'
import { API_LOCATION } from '../config'

export default {
  name: "navbar",
  data() {
      this.isLoad = false;
      axios.get(API_LOCATION + '/sitemap').then(response => {
          this.pages = response.data
          this.isLoad = true;
      })
      return {
          pages: []
      }
  }
}    
</script>

<style>
#nav-wrapper {
  margin-bottom: 100px;
}
</style>