<template>
  <div class="content-wrapper">
    
      <div v-show="isLoad" >
        <h1 data-aos="fade-right">{{ pageContent.post_title }}</h1><br />
        <div v-html="pageContent.post_content"></div>
      </div>
      
      <div v-show="!isLoad" style="text-align:center;">
        <!--<p>Loading...</p>-->
        <img src="https://michaelpalmer.de/images/cdn/ajax-loading-icon-28.jpeg" height="100">
      </div>
    
  </div>
</template>

<script>
  import axios from 'axios';
  import { API_LOCATION } from '../config.js'

  export default {
    name: 'Page',
    data() {     
      this.isLoad = false;
      return {
        pageContent: ['post_content']
      }
    },
    created() {
      this.loadPage(); 
    },
    mounted() {
      //$("p").append(' data-aos="fade-right"');
    },
    methods: {
      loadPage() {
        this.isLoad = false;
        var path = this.$router.currentRoute.fullPath;
        if(!path || path == '/') path = "/home";
          axios.get(API_LOCATION + "/page" + path, {
            }).then(response => {
            this.pageContent = response.data;
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<p\s/g, '<p data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<p>/g, '<p data-aos="fade-right">');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<div/g, '<div data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h1/g, '<h1 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h2/g, '<h2 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h3/g, '<h3 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<h4/g, '<h4 data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<img/g, '<img data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<pre\s/g, '<pre data-aos="fade-right" ');
            this.pageContent['post_content']  = this.pageContent['post_content'].replace(/<pre>/g, '<pre data-aos="fade-right">');
            if(!this.pageContent['post_content']) {
              window.location.href = "/404";
            }
            if(this.pageContent['post_title']) {
                document.title = this.pageContent['post_title'] + " | palmomedia ";
            }
            this.isLoad = true
        });
      }
    },
    watch: {
      $route(to, from) {
        if(to != from) {
          this.loadPage();
        }
      }
    }
  }

</script>