html,
body,
#app {
  font-family: "Roboto Slab", serif;
  /*font-family: 'Ubuntu', sans-serif;*/
}
.navbar-custom,
.dropdown-menu {
  background-color: #ff9900 !important;
}
.navbar-custom {
  border-bottom: 2px solid #ccc;
}
.navbar-custom a {
  color: #fff !important;
  text-shadow: 1px 1px 2px black;
}
.navbar-custom a:hover {
  color: #000 !important;
  text-shadow: 1px 1px 2px #fff;
}
.footer {
  /*z-index: -1;*/
}
.footer-custom1 {
  background-color: #ffb84d !important;
}
.footer-custom2 {
  background-color: #ff9900 !important;
  color: #fff;
}
.middle-custom1 {
  background-color: #ffe0b3 !important;
}
.middle-custom2 {
  background-color: #ffcc80 !important;
}
a {
  color: rgba(44, 37, 37, 0.562) !important;
}
a:hover {
  color: #ff9900 !important;
  text-decoration: none;
}
.container .dropdown .dropdown-menu a:hover {
  background-color: #ffe0b3;
  text-decoration: none;
}
li a {
  text-decoration: none !important;
}
.content {
  background-color: #fff;
  /*-webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
         box-shadow: 0 8px 6px -6px #ccc;*/
}
#app {
  overflow-x: hidden;
}
.content-wrapper {
  max-width: 840px;
  margin: 42px auto;
  padding: 21px;
  /*overflow: scroll;*/
  overflow: hidden;
  /*margin-bottom: 286px;*/
}
/*@media only screen and (max-width: 767px) {
    .content-wrapper {
        margin-bottom: 600px;
    }
}*/
.content-wrapper a {
  text-decoration: underline;
}
.content-wrapper a:hover {
  text-decoration: none;
}
/* first disable */
.content-wrapper .removeExternalLink[href^="http"]:after {
  display: none;
}
/* then enable for the rest */
.content-wrapper a[href^="http"]:after {
  content: url(//wiki.selfhtml.org/images/7/7e/Link_icon_black.svg);
  display: inline-block;
  margin-left: 2px;
  width: 12px;
}
.breadcrumb {
  top: 300px;
  max-width: 840px;
  margin: 42px auto;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 19px;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 15px;
}
.router-link-exact-active,
.router-link-active {
  text-shadow: 0px 0px 0px #fff !important;
}
.arr-bread {
  margin-top: 100px;
  margin-bottom: -30px;
  height: 26px;
  font-size: 12px;
  padding: 0px;
  padding-left: 10px;
  line-height: 16px;
  background-color: #fff;
  border-bottom: 1px solid rgba(204, 204, 204, 0.308);
}
.profile-header-container {
  margin: 0 auto;
  text-align: center;
  right: 0px;
}
.profile-header-img {
  padding: 0px;
}
.profile-header-img > img.img-circle {
  width: 90px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 5px;
}
.profile-header {
  margin-top: 3px;
}
.rank-label-container {
  margin-top: -19px;
  /* z-index: 1000; */
  text-align: center;
}
.label.label-default.rank-label {
  background-color: #fff;
  padding: 5px 10px 15px 10px;
  border-radius: 27px;
  font-size: 12px;
  /*border: 1px solid #ccc;*/
}
.footerlink {
  color: #fff !important;
}
.footerlink:hover {
  color: #000 !important;
}
.brand {
  height: 60px;
  width: 210px;
}
@media only screen and (max-width: 360px) {
  .brand {
    height: 30px;
    width: 105px;
  }
}
